.persons {
  font-style: italic;
  color: rgb(19, 9, 129);
  padding-top: px;
  font-size: 15px;
}


.error {
  color: rgb(26, 233, 202);
  background: rgb(87, 85, 85);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 0;
  animation: fadeInOut 2.3s ease forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}